.accommodation {
  margin-top: 5vh;
  background-color: var(--color-secondary-dark);
  padding: 20px;

  display: flex;
  flex-direction: row;
}

img {
  max-width: 500px;
  height: auto;
}

.accommodation .accommodation-info {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.accommodation .accommodation-info .accommodation-location {
  flex-grow: 1;
  margin-left: 20px;
}

.accommodation .accommodation-info .accommodation-location h2 {
  font-size: 3rem;
  font-weight: 100;
}

.accommodation .accommodation-info .accommodation-location p {
  font-size: 1.5rem;
  font-weight: 100;
}

.accommodation .accommodation-info .price {
  flex-grow: 1;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.accommodation .accommodation-info .price h3 {
  font-size: 2rem;
  font-weight: 100;
}

.accommodation .accommodation-info .price p {
  font-size: 2.5rem;
  font-weight: 100;
}

.accommodation .accommodation-info .price button {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border: none;
  border-radius: 1.5rem;
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: 100;
  margin-top: 10px;
  cursor: pointer;
}

.accommodation .accommodation-info .price button:hover {
  background-color: var(--color-primary-dark);
}

.accommodation-description {
  margin-top: 5vh;
  padding: 20px;
  background-color: var(--color-secondary-dark);
}
