main {
  width: 90vw;
  margin: 0 auto;
}

.bookings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5vh 0;
}

.bookings h2 {
  margin-bottom: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  border: 1px solid #ccc;
  padding: 5px;
  min-width: 100px;
}

th {
  background-color: #ddd;
}

.edit-btn,
.delete-btn {
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  margin: 5px 5px;
  color: white;
  cursor: pointer;
}

.edit-btn {
  background-color: #4caf50;
}

.delete-btn {
  background-color: #f44336;
}

.edit-btn:hover {
  background-color: #45a049;
}

.delete-btn:hover {
  background-color: #da190b;
}
