header {
  background-color: var(--color-primary);
  color: white;
  height: 50px;
}

nav {
  width: 100%;
  height: 100%;
}

.navigation-links {
  display: flex;
  height: inherit;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  list-style: none;
}

.navigation-links > li > a {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  color: inherit;
  display: block;
}

.profile-icon {
  position: absolute;
  top: 0;
  right: 1rem;
}

.material-icons.md-48 {
  font-size: 48px;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  left: 0.5rem;
  font-size: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 21px;
  width: 30px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .navigation-links {
    flex-direction: column;
    gap: 0;
    background-color: var(--color-primary);
  }

  .toggle-button {
    display: flex;
  }
}
